.idea
__pycache__
tasks-scheduling.iml
resources/solutions/
resources/validation/
resources/report/report.aux
resources/report/report.log
resources/report/report.out
resources/report/report.synctex.gz
resources/report/report.toc
resources/report/report.pdf