{
  "boundary": 0.8,
  "solving": {
     "file_name": "sch1000.txt",
     "problems": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
     "use_heuristic": true
  },
  "validation": {
     "file_name": "sch500_1_4.txt"
  },
  "heuristic": {
     "processing_time": 60,
     "max_tabu_list_size": 100
  }
}